<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>AboutMe</title>
  </head>


<body>
    <!-- Menu-wrap  -  Contiene
    toggler
    hamburger
    menu
  -->
  <div class="menu-wrap">
    <input type="checkbox" class="toggler">
    <div class="topBtn"> <div></div></div>

    <div class="menu">
      <div>
        <div>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="aboutMe.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
<!-- showcase  - contiene
        container showcase-inner  -> Text that contains basic information
      -->
  <header class="showcase">

    <div class="container showcase-inner">
      <!-- <div class="boxForPic"></div> -->
      <h1>About me! </h1>
      <p>After initial failed attempts to break into the video game industry, Kojima joined video game publisher Konami's MSX home computer division in 1986 as a designer and planner.
         Initially, he was disappointed with his assignment, and desired to work on Nintendo Entertainment System and arcade games instead—Kojima felt the color palette of the system was
         too restrictive. Kojima's gameplay ideas were often overlooked initially, and due to his lack of familiarity with programming was repeatedly snubbed for his failures in his initial
         years at Konami. At one point Kojima considered leaving the company, but he hung on. The first game he worked on was Penguin Adventure, the sequel to Antarctic Adventure,
         as an assistant director. It significantly expanded upon the gameplay of Antarctic Adventure, adding more action game elements, a greater variety of levels, role-playing
         elements such as upgrading equipment, and multiple endings. The first game he developed was Lost Warld [sic], an MSX platform game in 1986. However, the game was
         ultimately rejected by Kojima's superiors at Konami.</p>
      <a href="contact.html" class="btn">Contact me!</a>
    </div>

</header>
</body>
</html>
