<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Contact</title>
  </head>
  <body>
    <div class="menu-wrap">
      <!-- Menu-wrap  -  Contiene
            toggler
            hamburger
            menu
     -->
      <input type="checkbox" class="toggler">
      <div class="topBtn"> <div></div></div>

      <div class="menu">
        <div>
          <div>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="aboutMe.html">About</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>

          </div>
        </div>

      </div>

    </div>
<!-- showcase  - contiene
        container showcase-inner  -> Text that contains basic information
      -->
<header class="showcase">

  <div class="container showcase-inner">
    <!-- <div class="boxForPic"></div> -->
    <h1> Contact!!</h1>
    <br>
    <p>Kojima was born the youngest of three children in Setagaya, Tokyo, Japan.
      The family moved to Osaka when he was about four years old. The family watched movies every night and he "wasn't allowed to go to bed till the film had finished". </p>
    <br>
      <div class="iconTextContainer">
        <p class="wssp"></p>      <p align="left">Telefono: 222 2222 2222</p>
        <p class="mailIcon"></p>  <p align="left">Mail: aaabbbccc@something.com</p>
        <!-- <a href="https://www.instagram.com/hideo_kojima/?hl=en" class="btn"></a>  <p align="left">@hideo_kojima</p> -->
        <a href="https://www.instagram.com/hideo_kojima/?hl=en" class="instaIcon" target="_blank"></a>  <p align="left">@hideo_kojima</p>
      </div>
    <br>
    <p>He wanted to be an artist, filmmaker, or illustrator, but felt discouraged by the pressure of social norms favoring a stable, salaried job over creative pursuits, and also because his uncle was an artist who struggled to make a living. </p>
</div>

</header>
  </body>
</html>
