<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <title>Portfolio</title>
  </head>
  <body>

    <div class="menu-wrap">
     <!-- Toggler is the checkbox that makes the menu pop -->


      <!-- <input type="checkbox" class="toggler"> -->
      <!-- <div class="topBtn"> <div></div></div> -->
      <!-- This is the information that will pop when you click the toggler -->
      <!-- So... SOmehow I broke the toggler... no spinning button for you. Sorry! -->
    </div>


<!-- showcase  - contiene
        container showcase-inner  -> Text that contains basic information
      -->
<!-- This is the actual text that appears in the webpage  -->
<header class="showcase">

  <div class="mainContainer showcase-inner">
    <div class="boxForPic"></div>
    <h2> Por favor, elija una opción</h2>
    <!-- CAMBIAR LOS LINKS A ALGUNOS QUE ANDEN POSTA -->
    <li>
      <%= link_to 'Usuario', '/users/sign_in' , class: "a-primary" %>
      <%= link_to 'Chofer', '/chofers/sign_in' , class: "a-primary" %>
      <%= link_to 'Administrador', '/admin/sign_in' , class: "a-primary"%>
    </li>
  </div>

</header>
  </body>
</html>
