


<% if @compra_exitosa %>
    <h2>Gracias, su compra ha sido procesada!</h2>
<% else %>
    <h2>Su tarjeta ha sido rechazada. Intente nuevamente</h2>
<% end %>

<h2>Thanks, you paid <strong>$5.00</strong>!</h2>
