<div>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>

      <label class="amount centerTheData ">

        <p> El precio es <%= @precio %> </p>





          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
              data-description="Pago unico"
              data-amount= <%= (@precio)*(100) %>
              data-locale="auto"
              >
          </script>

        </label>



</article>
</div>
