<div>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>

      <label class="amount centerTheData ">

        <p> El precio es <%= @precio %> </p>



        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="A month's subscription"
            data-amount= <%= (@precio)*(100) %>
            data-locale="auto"
            >
        </script>

      </label>

</article>
</div>
