// Place all the styles related to the ver_rutas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/



.my-custom-scrollbar {
    position: relative;
    height: 300px;
    overflow: auto;
    }
.table-wrapper-scroll-y {
    display: block;
}