<header>
    <nav class="navbar p-0 navbar-expand navbar-dark bg-dark">        
      <div class="container">
          <%= link_to root_path, class: 'navbar-brand' do %>
            <%= image_tag "",class: "boxForPic" %>
            <p class='navbar-text'>Combi19</p>
          <% end %>
      </div>
    </nav>

</header>